/** Settings */
@font-face {
  font-display: swap;
  font-family: 'Rubik-regular';
  font-style: normal;
  font-weight: 400;
  src: url(../../../fonts/Rubik-Regular.woff2) format("woff2"), url(../../../fonts/Rubik-Regular.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Rubik-medium';
  font-style: normal;
  font-weight: 500;
  src: url(../../../fonts/Rubik-Medium.woff2) format("woff2"), url(../../../fonts/Rubik-Medium.woff) format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik-regular';
  font-size: 18px;
  color: #1a1c23;
  overflow-x: hidden;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #1a1c23;
}

a:hover {
  color: #fa5757;
}

.container {
  margin: 30px auto;
  position: relative;
  width: 100%;
  min-height: .1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 36px;
  padding-left: 36px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1104px) {
  .container {
    max-width: 1104px;
  }
}

@media only screen and (min-width: 1301px) {
  .container {
    max-width: 1280px;
  }
}

button {
  padding: 4px 10px;
  border-radius: 7px;
  font-family: 'Rubik-regular';
  font-size: 18px;
  outline: none;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 10px 4px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #1a1c23;
}

.hamburger-box {
  width: 30px;
  height: 18px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #1a1c23;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -7px;
}

.hamburger-inner::after {
  bottom: -7px;
}

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  -webkit-perspective: 80px;
          perspective: 80px;
}

.hamburger--3dx .hamburger-inner {
  -webkit-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
  -webkit-transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.hamburger--3dx.is-active .hamburger-inner::before {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
          transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/** Blocks */
@media only screen and (min-width: 768px) {
  .hamburger_mobile {
    display: none;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 60%;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 500px;
  }
}

.btn-login {
  font-size: 16px;
  background-color: #fa5757;
  color: #f4f4f5;
  border: 1px solid #fa5757;
}

.btn-login:hover {
  cursor: pointer;
  background-color: inherit;
  color: #fa5757;
}

.bookmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .bookmark {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media only screen and (min-width: 1104px) {
  .bookmark {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

@media only screen and (min-width: 1104px) {
  .bookmark_header {
    max-width: 360px;
    font-size: 36px;
  }
}

.bookmark_img {
  position: relative;
  display: block;
  width: 100%;
}

.bookmark_img-wrapper {
  position: relative;
  margin: auto;
  height: 200px;
  width: 300px;
}

.bookmark_img-wrapper::before {
  position: absolute;
  bottom: -27px;
  right: -70px;
  height: 185px;
  width: 307px;
  background-color: #5368df;
  content: '';
  border-bottom-left-radius: 36%;
  z-index: -1;
}

@media only screen and (min-width: 1104px) {
  .bookmark_img-wrapper {
    height: 400px;
    width: 600px;
  }
  .bookmark_img-wrapper::before {
    bottom: -40px;
    right: -417px;
    height: 344px;
    width: 878px;
    border-bottom-left-radius: 96px;
  }
}

.bookmark_info-wrapper {
  padding-top: 30px;
  text-align: center;
}

@media only screen and (min-width: 1104px) {
  .bookmark_info-wrapper {
    text-align: left;
  }
}

.bookmark_info-text {
  width: 100%;
  max-width: 298px;
  margin: auto;
  line-height: 1.4;
  font-size: 16px;
  color: #9194a1;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1104px) {
  .bookmark_info-text {
    margin: auto 0;
  }
}

.btn_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px auto;
  width: 100%;
  max-width: 350px;
}

@media only screen and (min-width: 1104px) {
  .btn_wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 24px auto 0 0;
    max-width: 320px;
  }
}

.btn_browser {
  padding: 8px 10px;
  font-size: 15px;
  -webkit-box-shadow: 0px 4px 5px 2px #c5cae8;
          box-shadow: 0px 4px 5px 2px #c5cae8;
}

.btn_browser-chrome {
  border: 1px solid #5368df;
  background-color: #5368df;
  color: #f4f4f5;
}

@media only screen and (min-width: 768px) {
  .btn_browser-chrome:hover {
    cursor: pointer;
    background-color: inherit;
    color: #5368df;
  }
}

.btn_browser-firefox {
  border: 1px solid #e3e3e3;
  background-color: #e3e3e3;
  color: #9194a1;
}

@media only screen and (min-width: 768px) {
  .btn_browser-firefox:hover {
    cursor: pointer;
    background-color: inherit;
    border: 1px solid #9194a1;
  }
}

.features_description {
  margin: 0 auto 50px 0;
  width: 100%;
  max-width: 556px;
  color: #9194a1;
  font-size: 16px;
  line-height: 1.4;
}

@media only screen and (min-width: 768px) {
  .features_description {
    margin: 50px auto;
  }
}

.features_description-wrapper {
  text-align: center;
}

.tabs_controls-wrapper {
  margin-bottom: 30px;
  text-align: center;
  border-top: 1px solid #9194a1;
}

@media only screen and (min-width: 768px) {
  .tabs_controls-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: none;
  }
}

.tab {
  border-bottom: 1px solid #9194a1;
}

.tab_header {
  color: #9194a1;
  margin-bottom: 10px;
  margin-top: 15px;
}

@media only screen and (min-width: 768px) {
  .tab_header:hover {
    cursor: pointer;
    color: #fa5757;
  }
}

@media only screen and (min-width: 768px) {
  .tab_header {
    width: 230px;
  }
}

.tab_border {
  height: 3px;
  width: 160px;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .tab_border {
    width: 100%;
  }
}

.tab_content {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .tab_content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 1104px) {
  .tab_content {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

@media only screen and (min-width: 1104px) {
  .tab_content__header {
    max-width: 360px;
    font-size: 36px;
  }
}

.tab_content__img {
  position: relative;
  display: block;
  width: 100%;
}

.tab_content__img-wrapper {
  position: relative;
  margin: auto;
  height: 200px;
  width: 300px;
}

.tab_content__img-wrapper::before {
  position: absolute;
  bottom: -27px;
  left: -70px;
  height: 185px;
  width: 307px;
  background-color: #5368df;
  content: '';
  border-bottom-right-radius: 36%;
  z-index: -1;
}

@media only screen and (min-width: 1104px) {
  .tab_content__img-wrapper {
    height: 391px;
    width: 562px;
  }
  .tab_content__img-wrapper::before {
    bottom: -40px;
    left: -417px;
    height: 344px;
    width: 878px;
    border-bottom-right-radius: 96px;
  }
}

.tab_content__info-wrapper {
  padding-top: 30px;
  text-align: center;
}

@media only screen and (min-width: 1104px) {
  .tab_content__info-wrapper {
    text-align: left;
  }
}

.tab_content__info-text {
  width: 100%;
  max-width: 298px;
  margin: auto;
  line-height: 1.4;
  font-size: 16px;
  color: #9194a1;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1104px) {
  .tab_content__info-text {
    margin: auto 0;
  }
}

.tab_content-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px auto;
  width: 100%;
  max-width: 350px;
}

@media only screen and (min-width: 1104px) {
  .btn_wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 24px auto 0 0;
    max-width: 320px;
  }
}

.btn_browser {
  padding: 8px 10px;
  font-size: 15px;
  -webkit-box-shadow: 0px 4px 5px 2px #c5cae8;
          box-shadow: 0px 4px 5px 2px #c5cae8;
}

.btn_browser-chrome {
  border: 1px solid #5368df;
  background-color: #5368df;
  color: #f4f4f5;
}

@media only screen and (min-width: 768px) {
  .btn_browser-chrome:hover {
    cursor: pointer;
    background-color: inherit;
    color: #5368df;
  }
}

.btn_browser-firefox {
  border: 1px solid #e3e3e3;
  background-color: #e3e3e3;
  color: #9194a1;
}

@media only screen and (min-width: 768px) {
  .btn_browser-firefox:hover {
    cursor: pointer;
    background-color: inherit;
    border: 1px solid #9194a1;
  }
}

.tab_active .tab_border {
  background-color: #fa5757;
}

.tab_active .tab_header {
  color: #1a1c23;
}

.extention_description {
  margin: 0 auto 50px 0;
  width: 100%;
  max-width: 556px;
  color: #9194a1;
  font-size: 16px;
  line-height: 1.4;
}

@media only screen and (min-width: 768px) {
  .extention_description {
    margin: 50px auto;
  }
}

.extention_description-wrapper {
  text-align: center;
}

.extention_cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media only screen and (min-width: 1104px) {
  .extention_cards-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .extention_cards-wrapper .card:nth-child(2) {
    margin-top: 70px;
  }
  .extention_cards-wrapper .card:last-child {
    margin-top: 140px;
  }
}

.card {
  position: relative;
  margin-bottom: 30px;
  padding: 30px 10px;
  height: 322px;
  width: 100%;
  max-width: 278px;
  border-radius: 15px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 5px 3px #f5f5ff;
          box-shadow: 0px 4px 5px 3px #f5f5ff;
}

@media only screen and (min-width: 1104px) {
  .card {
    max-width: 296px;
  }
}

.card::before {
  position: absolute;
  height: 4px;
  width: 100%;
  background-image: url("../../assets/bg-dots.svg");
  bottom: 106px;
  left: 0;
  content: '';
}

.card_logo-wrapper {
  margin-bottom: 32px;
}

.card_header {
  margin-bottom: 10px;
}

.card_description {
  color: #9194a1;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 90px;
}

.card_btn {
  padding: 7px 14px;
  border: 1px solid #5368df;
  background-color: #5368df;
  color: #f4f4f5;
}

@media only screen and (min-width: 768px) {
  .card_btn:hover {
    cursor: pointer;
    background-color: inherit;
    color: #5368df;
  }
}

.questions {
  margin-bottom: 80px;
}

.questions_wrapperBox {
  margin: auto;
  width: 100%;
  max-width: 510px;
}

.questions_description {
  margin: 0 auto 50px 0;
  width: 100%;
  max-width: 556px;
  color: #9194a1;
  font-size: 16px;
  line-height: 1.4;
}

@media only screen and (min-width: 768px) {
  .questions_description {
    margin: 50px auto;
  }
}

.questions_description-wrapper {
  text-align: center;
}

.questions_header {
  width: 100%;
  max-width: 250px;
}

@media only screen and (min-width: 768px) {
  .questions_header {
    margin: 50px auto;
  }
}

.questions_item {
  position: relative;
  padding: 20px 0;
  margin: 0;
  border-bottom: 2px solid #e3e4e8;
}

.questions_item:hover {
  cursor: pointer;
}

.questions_item::after {
  position: absolute;
  top: 22px;
  right: 10px;
  width: 10px;
  height: 10px;
  border: 3px solid #5368df;
  border-top: none;
  border-right: none;
  content: "";
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.questions_item > span {
  display: none;
  margin-top: 10px;
  font-size: 16px;
  color: #9194a1;
}

.questions_btn {
  display: block;
  margin: 30px auto;
  padding: 7px 14px;
  border: 1px solid #5368df;
  background-color: #5368df;
  color: #f4f4f5;
}

@media only screen and (min-width: 768px) {
  .questions_btn:hover {
    cursor: pointer;
    background-color: inherit;
    color: #5368df;
  }
}

.questions_item-active > span {
  display: block;
}

.questions_item-active::after {
  border-top: 3px solid #fa5757;
  border-right: 3px solid #fa5757;
  border-bottom: none;
  border-left: none;
}

.contact {
  padding: 60px 0;
  background-color: #5368df;
}

.contact_description {
  margin: 0 auto;
  width: 100%;
  max-width: 556px;
  color: #f4f4f5;
  font-size: 14px;
  line-height: 1.4;
}

.contact_description-wrapper {
  text-align: center;
}

.contact_header {
  width: 100%;
  max-width: 270px;
  margin: 27px auto;
  color: #f4f4f5;
  font-size: 27px;
}

.contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
  width: 100%;
  max-width: 500px;
}

@media only screen and (min-width: 768px) {
  .contact_form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.contact_form__email {
  margin-bottom: 30px;
  padding: 0 10px;
  height: 38px;
  border: 2px solid #f4f4f5;
  width: 91%;
  max-width: 296px;
  border-radius: 7px;
  font-family: 'Rubik-regular';
  outline: none;
}

@media only screen and (min-width: 768px) {
  .contact_form__email {
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
  }
}

.contact_btn {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #fa5757;
  background-color: #fa5757;
  color: #f4f4f5;
}

@media only screen and (min-width: 768px) {
  .contact_btn {
    max-width: 150px;
  }
  .contact_btn:hover {
    cursor: pointer;
    background-color: #f4f4f5;
    color: #fa5757;
  }
}

.input_wrapper {
  position: relative;
  width: 100%;
  max-width: 296px;
}

.input_img {
  display: none;
  position: absolute;
  top: 11px;
  right: 9px;
}

.input_error {
  display: none;
  position: absolute;
  margin: 0;
  width: 100%;
  bottom: 15px;
  left: 50%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fa5757;
  font-size: 13px;
  font-style: italic;
  color: #f4f4f5;
  font-weight: 300;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media only screen and (min-width: 768px) {
  .input_error {
    bottom: -8px;
  }
}

.input_wrapper-active {
  border-radius: 10px;
  background-color: #fa5757;
  margin-bottom: 10px;
}

.input_wrapper-active .input_img {
  display: inline-block;
}

.input_wrapper-active .input_error {
  display: block;
}

.input_wrapper-active .contact_form__email {
  margin-top: 2px;
  width: 90%;
}

.footer {
  background-color: #252b46;
  padding: 50px 0;
}

.footer_container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .footer_logo {
    margin-bottom: 0;
    margin-right: 45px;
  }
}

.footer_nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .footer_nav-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer_nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer_nav-link {
  margin-bottom: 30px;
  color: #f4f4f5;
}

@media only screen and (min-width: 768px) {
  .footer_nav-link {
    margin-bottom: 0;
    margin: 0 15px;
  }
}

.footer_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100px;
}

.footer_social {
  color: #f4f4f5;
}

.footer_social:hover {
  cursor: pointer;
  color: #fa5757;
}
/*# sourceMappingURL=style.css.map */